.search {
  margin: 8px;
  padding: 8px;
}
.search button {
  border: 1px solid rgb(194, 106, 229);
  border-radius: 20px;
  padding: 8px 16px;
  margin: 6px;
  margin-right: 10px;
  background-color: rgb(226, 63, 213);
  cursor: pointer;
  font-size: 14px;
}
.search button:hover {
  border: 1px solid rgb(248, 58, 185);
  color: rgb(15, 41, 125);
  background-color: rgb(239, 215, 145);
}
.search input{
  margin-right: 10px;
}
.search label{
  font-weight: bold;
  font-size: 0.9em;
}
